.feed {
    border:groove;
    height: 150px;
}


.feed_photo {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    float:left;
}

.feed_text {
    float: left;
    padding-top: 20px;
}

