<h3>Why a Peer To Peer Candidate Forum: Testimony and Message Web Portal.</h3>

<p>A portal where women candidates can video record (or upload) testimony about their experiences, and women everywhere can leave messages of support using a variety of media.
</p>

<p>Every woman candidate on earth faces similar problems when running for political office, though it my

look very different in different countries.</p>

<li> harassment and threats</li>

<li>raising money</li>

<li>Isolation </li>

<li>The “electability” factor (because of numbers, this comes down to women coming together and being

willing to vote for other women)</li>

<p>In emerging countries, these factors are compounded by other issues such as:</p>

<li>widespread illiteracy among likely (frequently rural women) supporters, complicating outreach</li>

<li>limited property rights for women, making it even more difficult for women candidates to raise money</li>

<li>Increased isolation among women seeking power</li>

<li>Greater acceptance of violence against women and women candidates</li>

